header{
    position: relative;
}
.section-left{
    position: relative;
}
.section1 h5 {
    font-weight: 400;
    font-size: 14px;
    color: #3763eb;
}
.section1 h2 {
    font-size: 29px;
    font-weight: 700;
    /* font-family: sans-serif; */
    padding-bottom: 35px;
}
.section1 p {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 58px;
    color: #787171;

}
samp {
    position: absolute;
    border-bottom: 3px solid#0d6efd;
    width: 66px;
    top: 142px;
    left: 0%;
}
.section-right {
    margin-top: 43px;
}
.section-right img{
    border: 1px solid #ddd;
    padding: 31px;
    margin: 0;
}
.img1{
    padding: 100px 0;
    text-align: center;
    position: relative;
   
}
.img1 h5{
    color:#0d6efd;
    padding-bottom:  15px;
   }
   .img1 h2 {
       font-weight: 700;
       color: black;
       font-size: 40px;
   }
   .img1 p{
       color:#787171;
       font-size: 18px;
       font-weight: 500;
       padding-top: 41px;
       padding-bottom: 18px;
   }
   .img1 samp {
       position: absolute;
       border-bottom: 3px solid #0d6efd;
       width: 62px;
       top: 50%;
       left: 47%;
   
   }
   .img-logo img {
    width: 100%;
    border-radius: 5px;
}
h3.text1.py-3 {
    font-size: 24px;
}
p{
    font-size: 17px;
    font-weight: 500;
    color: #787171;
    padding-bottom: 41px;
    
}
.footer-logo img {
    /* padding: 30px; */
    width: 36%;
    margin-top: 50px;
    
} 
.section4{
    background-color: black;
}
.aaaa {
    padding-top: 18px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding-bottom: 10px;
}
.icons i {
    color: aliceblue;
    padding: 14px;
    margin-bottom: 30px;
}
.text-3{
    margin-top: 50px;
    position: relative;
   
}
.text-3 h4 {
    font-size: 23px;
    color: white;
    margin-left: 37px;
    margin-bottom: 24px;
}
.text-3 ul li a {
    text-decoration: none;
    color: #aca0a0;
    line-height: 36px;
    font-size: 15px;
}
.text-3 samp {
    position: absolute;
    border-left: 2px solid#0d6efd;
    height: 23px;
    top: 4px;
    left: 29px;
    width: 0;
}.footer-bottom {
    border-top: 1px solid#ddd;
    padding-top: 37px;
}
.footer-bottom p{
    color: white;
}